﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Notice";
}
<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">공지사항</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">공지사항 관리 </a></li>
                    <li class="breadcrumb-item active" aria-current="page">공지사항</li>
                </ol>
            </nav>
        </div>


        <div class="top-filters">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-10 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>제목</label>
                                <input type="text" class="form-control form-control-sm" placeholder="회원번호/회원아이디/지갑주소">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>등록일</label>
                                <input type="text" class="form-control form-control-sm" name="daterange">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>게시자</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-xl-2 col-lg-4">
                    <a href="#!" class="btn btn-primary btn-block">검 색</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 mb-3">
                <div class="table-responsive">
                    <table id="noticeTable" class="table text-black w-100">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>제목</th>
                                <th>게시자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("NoticeDetails","NoticeManagement")">서울 신림 초 역세권 주상복합 신축건물</a></td>
                                <td>admin</td>
                                <td>21-07-22 13:20</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12 text-right">
                <a href="@Url.Action("NoticeAdd","NoticeManagement")" class="btn btn-primary btn-wide">상품추가</a>
            </div>
        </div>
    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>

    $(document).ready(function () {

        var table = $('#noticeTable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 2,
            }
        });


        $('input[name="daterange"]').daterangepicker({
            "showDropdowns": true,
            "startDate": "07/30/2021",
            "endDate": "08/05/2021"
        });

    });
</script>
