﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Notice Details Edit";
}

<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">공지사항수정</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">공지사항 관리</a></li>
                    <li class="breadcrumb-item"><a href="#">공지사항</a></li>
                    <li class="breadcrumb-item active" aria-current="page">공지사항수정</li>
                </ol>
            </nav>
        </div>


        <div class="top-filters">
            <div class="row align-items-center justify-content-between">
                <div class="col-12">
                    <div class="form-group">
                        <label>글제목</label>
                        <input type="text" class="form-control form-control-sm" placeholder="개인정보 활용동의 개정 v3.5">
                    </div>
                </div>

                <div class="col-12">
                    <textarea class="form-control" rows="10"></textarea>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-lg-3">
                    <a href="#!" class="btn btn-block btn-primary btn-wide">확인</a>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <a href="#!" class="btn btn-block btn-secondary btn-wide">취소</a>
                </div>
            </div>
        </div>

    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>

    $(document).ready(function () {

        var table = $('#noticeTable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 2,
            }
        });


        $('input[name="daterange"]').daterangepicker({
            "showDropdowns": true,
            "startDate": "07/30/2021",
            "endDate": "08/05/2021"
        });

    });
</script>
