﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Terms Details";
}
<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">약관상세조회</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">공지사항 관리</a></li>
                    <li class="breadcrumb-item"><a href="#">약관</a></li>
                    <li class="breadcrumb-item active" aria-current="page">약관상세조회</li>
                </ol>
            </nav>
        </div>


        <div class="top-filters">
            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">13</div>
                        <div class="col-auto">개인정보 활용동의 개정 v3.5</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">개인정보 활용동의</div>
                        <div class="col-auto">게시자</div>
                        <div class="col-auto">admin</div>
                        <div class="col-auto">등록일</div>
                        <div class="col-auto">21-07-22 13:20</div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-12">
                    <p>
                        골든 블락(이하 ‘회사') 서비스를 이용해 주시는 여러분께 감사드리며, 새로운 개인정보 처리방침 적용에 관한 안내 말씀 드립니다.

                        회사는 이용자 여러분의 개인정보를 무엇보다 소중하게 처리하고 있으며, 어떤 사안보다도 우선하여 안전하게 관리하고 있습니다.

                        새롭게 변경될 개인정보 처리방침 내용을 확인하시고, 서비스 이용에 참고하시기 바랍니다.

                        골든 블락(이하 ‘회사') 서비스를 이용해 주시는 여러분께 감사드리며, 새로운 개인정보 처리방침 적용에 관한 안내 말씀 드립니다.

                        회사는 이용자 여러분의 개인정보를 무엇보다 소중하게 처리하고 있으며, 어떤 사안보다도 우선하여 안전하게 관리하고 있습니다.

                        새롭게 변경될 개인정보 처리방침 내용을 확인하시고, 서비스 이용에 참고하시기 바랍니다.

                        골든 블락(이하 ‘회사') 서비스를 이용해 주시는 여러분께 감사드리며, 새로운 개인정보 처리방침 적용에 관한 안내 말씀 드립니다.

                        회사는 이용자 여러분의 개인정보를 무엇보다 소중하게 처리하고 있으며, 어떤 사안보다도 우선하여 안전하게 관리하고 있습니다.

                        새롭게 변경될 개인정보 처리방침 내용을 확인하시고, 서비스 이용에 참고하시기 바랍니다.

                        골든 블락(이하 ‘회사') 서비스를 이용해 주시는 여러분께 감사드리며, 새로운 개인정보 처리방침 적용에 관한 안내 말씀 드립니다.

                        회사는 이용자 여러분의 개인정보를 무엇보다 소중하게 처리하고 있으며, 어떤 사안보다도 우선하여 안전하게 관리하고 있습니다.

                        새롭게 변경될 개인정보 처리방침 내용을 확인하시고, 서비스 이용에 참고하시기 바랍니다.
                    </p>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-lg-3">
                    <a href="@Url.Action("TermsDetailsEdit","NoticeManagement")" class="btn btn-block btn-primary btn-wide">수정</a>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <a href="#!" class="btn btn-block btn-secondary btn-wide">삭제</a>
                </div>
            </div>
        </div>

    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>

    $(document).ready(function () {

        var table = $('#noticeTable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 2,
            }
        });


        $('input[name="daterange"]').daterangepicker({
            "showDropdowns": true,
            "startDate": "07/30/2021",
            "endDate": "08/05/2021"
        });

    });
</script>
