﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using Goldenblock.Entities.V1;
@using GoldenblockAdmin.Infrastructure;
@model Property

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Property Edit";
}
<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">상품별 상세조회 등록</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">투자상품관리</a></li>
                    <li class="breadcrumb-item"><a href="#">상품조회</a></li>
                    <li class="breadcrumb-item active" aria-current="page">상품상세등록</li>
                </ol>
            </nav>
        </div>       

        <form class="p-5">
            <div class="row align-items-center">
                @Html.HiddenFor(m => m.Id)
                <div class="col-12">
                    <div class="form-group">
                        <label>title</label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @name = "title" })
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="custom-label" for="selectConstructionPeriod">Construction Period</label>
                        @Html.DropDownListFor(m => m.LookupConstructionPeriodId, (IEnumerable<SelectListItem>)ViewBag.ConstructionPeriod, "Select Construction Period", new { @Id = "selectConstructionPeriod", @class = "form-control selectpicker" })
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>annual rate of return</label>
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(m => m.AnnualRateOfReturn, new { @class = "form-control", @type = "number", @name = "annualRateOfReturn" })
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Total Recruitment Amount</label>
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(m => m.TotalRecruitmentAmount, new { @class = "form-control", @type = "number", @name = "totalRecruitmentAmount" })
                            <div class="input-group-append">
                                <span class="input-group-text">원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>investment Amount</label>
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(m => m.InvestmentAmount, new { @class = "form-control", @type = "number", @name = "investmentAmount" })
                            <div class="input-group-append">
                                <span class="input-group-text">원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>investment Period</label>
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(m => m.InvestmentPeriod, new { @class = "form-control", @type = "number", @name = "investmentPeriod" })
                            <div class="input-group-append">
                                <span class="input-group-text">개월</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>expected Profit</label>
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(m => m.ExpectedProfit, new { @class = "form-control", @type = "number", @name = "expectedProfit" })

                            <div class="input-group-append">
                                <span class="input-group-text">원</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between align-items-end">
                <div class="col-xl-3 col-lg-4">
                    <div class="form-group">
                        <label>예상수익</label><br>
                        <div class="image-upload">
                            <img class="w-100" id="propertyImage1" src="~/assets/images/media/avatar-upload.png">
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 text-right">
                    <button class="file-upload btn btn-primary">
                        <input type="file" class="file-input" id="fileInput1">사진등록
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>investor Protection</label>                        
                        @Html.TextAreaFor(m => m.InvestorProtection, new { @rows = "5", @class = "form-control", @name = "investorProtection" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>투자상품 상세내용</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>business Address</label>                                
                                @Html.TextBoxFor(m => m.BusinessAddress, new { @class = "form-control",  @name = "businessAddress" })

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>business Name</label>                               
                                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control",  @name = "businessName" })
                             </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>busines Scale</label>                             
                                @Html.TextBoxFor(m => m.BusinessScale, new { @class = "form-control",  @name = "businesScale" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>use Of Funds</label>
                                <div class="input-group input-group-sm">                                    
                                    @Html.TextBoxFor(m => m.UseOfFunds, new { @class = "form-control", @type = "number", @name = "useOfFunds" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>LTV</label>
                                <div class="input-group input-group-sm">                                   
                                    @Html.TextBoxFor(m => m.LTV, new { @class = "form-control", @type = "number", @name = "LTV" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>repayment Order</label>
                                <div class="input-group input-group-sm">                                    
                                    @Html.TextBoxFor(m => m.RepaymentOrder, new { @class = "form-control", @type = "number", @name = "repaymentOrder" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">순위</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>fairRate</label>
                                <div class="input-group input-group-sm">                               
                                    @Html.TextBoxFor(m => m.FairRate, new { @class = "form-control", @type = "number", @name = "fairRate" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="custom-label" for="selectConstructionPeriod">Reference Date</label>
                                @Html.DropDownListFor(m => m.LookupReferenceDateId, (IEnumerable<SelectListItem>)ViewBag.ReferenceDate, "Select Reference Date", new { @Id = "selectReferenceDate", @class = "form-control selectpicker" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between align-items-end">
                <div class="col-xl-3 col-lg-4">
                    <div class="form-group">
                        <label>예상수익</label><br>
                        <div class="image-upload">
                            <img class="w-100" id="propertyImage2" src="~/assets/images/media/avatar-upload.png">
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 text-right">
                    <button class="file-upload btn btn-primary">
                        <input type="file" class="file-input" id="fileInput2">사진등록
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>담보가치</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>senior Loan</label>
                                <div class="input-group input-group-sm">                                  
                                    @Html.TextBoxFor(m => m.SeniorLoan, new { @type = "number", @class = "form-control", @name = "seniorLoan" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>ernest Fund Loans</label>
                                <div class="input-group input-group-sm">                                   
                                    @Html.TextBoxFor(m => m.ErnestFundLoans, new { @type = "number", @class = "form-control", @name = "ernestFundLoans" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>other Amount</label>
                                <div class="input-group input-group-sm">                                   
                                    @Html.TextBoxFor(m => m.OtherAmount, new { @type = "number", @class = "form-control", @name = "otherAmount" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>residual Amount Of CollateralValue</label>
                                <div class="input-group input-group-sm">                                    
                                    @Html.TextBoxFor(m => m.ResidualAmountOfCollateralValue, new { @type = "number", @class = "form-control",  @name = "residualAmountOfCollateralValue" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>리스크 분석</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>repayment Scenario</label>                               
                                @Html.TextAreaFor(m => m.RepaymentScenario, new { @rows = "5", @class = "form-control", @name = "repaymentScenario" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>major Risk</label>                                
                                @Html.TextAreaFor(m => m.MajorRisk, new { @rows = "5", @class = "form-control", @name = "majorRisk" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>detailed Analysis</label>                                
                                @Html.TextAreaFor(m => m.DetailedAnalysis, new { @rows = "5", @class = "form-control",  @name = "detailedAnalysis" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>자주 묻는 질문</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>질문</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>답변</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>투자시 유의사항</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>질문</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>답변</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-lg-3">
                    @*<a href="" class="btn btn-block btn-primary btn-wide">확인</a>*@
                    <a href="javascript:;" class="btn btn-block btn-primary btn-wide" onclick="EditProperty();">확인</a>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <a href="" class="btn btn-block btn-secondary btn-wide">취소</a>
                </div>
            </div>
        </form>
    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>
    function EditProperty() {       
        $.ajax({
                type: "POST",
                url: "@Url.Action("AddProperty", "InvestmentProductManagement")",
                data: ({
                        id:@Model.Id,
                        title: $('#Title').val(),
                        LookupConstructionPeriodId: $('#selectConstructionPeriod').val(),
                        annualRateOfReturn: $('#AnnualRateOfReturn').val(),
                        totalRecruitmentAmount: $('#TotalRecruitmentAmount').val(),
                        investmentAmount: $('#InvestmentAmount').val(),
                        investmentPeriod: $('#InvestmentPeriod').val(),
                        expectedProfit: $('#ExpectedProfit').val(),
                        investorProtection: $('#InvestorProtection').val(),
                        businessAddress: $('#BusinessAddress').val(),
                        businessName: $('#BusinessName').val(),
                        businessScale: $('#BusinessScale').val(),
                        useOfFunds: $('#UseOfFunds').val(),
                        LTV: $('#LTV').val(),
                        repaymentOrder: $('#RepaymentOrder').val(),
                        fairRate: $('#FairRate').val(),
                        LookupReferenceDateId: $('#selectReferenceDate').val(),
                        seniorLoan: $('#SeniorLoan').val(),
                        ernestFundLoans: $('#ErnestFundLoans').val(),
                        otherAmount: $('#OtherAmount').val(),
                        residualAmountOfCollateralValue: $('#ResidualAmountOfCollateralValue').val(),
                        repaymentScenario: $('#RepaymentScenario').val(),
                        majorRisk: $('#MajorRisk').val(),
                        detailedAnalysis: $('#DetailedAnalysis').val()
                    }),
                     dataType: "json",
                     crossDomain: true,
            success: function (Result) {
                        if (Result.Code == 200) {
                            alert(Result.Message, '', "success");
                            location.reload();
                        }
                        else {
                            alert(Result.Message, '', "Fail");
                        }
                    },
                    error: function (error) {

            }
        });
    }

    $('#fileInput1').change(function () {
        var curElement = $('#propertyImage1');
        var reader = new FileReader();

        reader.onload = function (e) {
            curElement.attr('src', e.target.result);
        };

        reader.readAsDataURL(this.files[0]);
    });
    $('#fileInput2').change(function () {
        var curElement = $('#propertyImage2');
        var reader = new FileReader();

        reader.onload = function (e) {
            curElement.attr('src', e.target.result);
        };

        reader.readAsDataURL(this.files[0]);
    });
</script>
