﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Property Details";
}
<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">상품별 상세조회</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">투자상품관리</a></li>
                    <li class="breadcrumb-item"><a href="#">상품조회</a></li>
                    <li class="breadcrumb-item active" aria-current="page">상품상세</li>
                </ol>
            </nav>
        </div>


        <div class="p-5">
            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">13</div>
                        <div class="col-auto">서울 신림 초 역세권 주상복합 신축 건물</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">게시자</div>
                        <div class="col-auto">goodtester</div>
                        <div class="col-auto">등록일</div>
                        <div class="col-auto">21-07-22 13:20</div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">공사 기간</div>
                        <div class="col-xl-10 col-lg-9"><span>21년 5월 부터 21년 7월 까지</span></div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">연수익률</div>
                        <div class="col-xl-10 col-lg-9"><span>13.00%</span></div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">총 모집금액</div>
                        <div class="col-xl-10 col-lg-9"><span>400,000,000원</span></div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-xl-6 col-lg-3 fw-bold">투자금액</div>
                                <div class="col-xl-6 col-lg-9"><span>5,000,000원</span></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-xl-6 col-lg-3 fw-bold">투자기간</div>
                                <div class="col-xl-6 col-lg-9"><span>10개월</span></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-xl-6 col-lg-3 fw-bold">예상수익</div>
                                <div class="col-xl-6 col-lg-9"><span>400,050원</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">기본정보</div>
                        <div class="col-xl-3 col-lg-4">
                            <img class="w-100" src="~/assets/images/media/upload.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">투자자 보호장치</div>
                        <div class="col-lg-9">
                            <ul class="pl-3">
                                <li>관리형토지 신탁 5순위 우선수익권을 대출금액의 130%로 설정</li>
                                <li>대출법인 대표이사 연대보증 </li>
                                <li>시공사 책임준공 확약 및 미이행 시 채무인수</li>
                                <li>신착사 책임중공 이행확약</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">투자상품 상세내용</div>
                        <div class="col-lg-9">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="fw-bold">사업장 주소</td>
                                        <td>전라남도 여수시 웅천동 1869-1번지</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">사업명</td>
                                        <td>여수용천 테마형 복합시설 신축사업</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">사업규모</td>
                                        <td>생활 숙박시설 344호실, 판매시설 237호실</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">자금용도</td>
                                        <td>총 100 억원</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">LTV</td>
                                        <td>61.51%</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">상환순위</td>
                                        <td>5순위</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">공정률</td>
                                        <td>21.57% &nbsp;&nbsp;&nbsp;21년 4월 21일 기준</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">안정성 분석</div>
                        <div class="col-xl-3 col-lg-4">
                            <img class="w-100" src="~/assets/images/media/upload.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">기본정보</div>
                        <div class="col-xl-10 col-lg-9">
                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <div class="row">
                                        <div class="col-auto fw-bold">선순위 대출금</div>
                                        <div class="col-auto">10억원</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="row">
                                        <div class="col-auto fw-bold">기타금액</div>
                                        <div class="col-auto">10억원</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="row">
                                        <div class="col-auto fw-bold">어니스트펀드 대출금</div>
                                        <div class="col-auto">10억원</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="row">
                                        <div class="col-auto fw-bold">담보가치 잔여금액</div>
                                        <div class="col-auto">10억원</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">리스크 분석</div>
                        <div class="col-xl-10 col-lg-9">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">상환시나리오</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>본 사업장은 관리형 토지신탁 구조로 필수 사업비 전액이 확보되어 안정성이 높으며, 우수한 사업성을 바탕으로 준공 이후 성공적인 사업 종료가 예상 됩니다.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">주요리스크</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>본 사업장은 관리형 토지신탁 구조로 필수 사업비 전액이 확보되어 안정성이 높으며, 우수한 사업성을 바탕으로 준공 이후 성공적인 사업 종료가 예상 됩니다.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">상세분석</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>본 사업장은 관리형 토지신탁 구조로 필수 사업비 전액이 확보되어 안정성이 높으며, 우수한 사업성을 바탕으로 준공 이후 성공적인 사업 종료가 예상 됩니다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">자주 묻는 질문</div>
                        <div class="col-xl-10 col-lg-9">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">질문</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>조기 상환은 어떤 경우에 발생하나요?</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">답변</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>본 사업장은 관리형 토지신탁 구조로 필수 사업비 전액이 확보되어 안정성이 높으며, 우수한 사업성을 바탕으로 준공 이후 성공적인 사업 종료가 예상 됩니다.</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">투자시 유의사항</div>
                        <div class="col-xl-10 col-lg-9">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">질문</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>조기 상환은 어떤 경우에 발생하나요?</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 fw-bold">답변</div>
                                <div class="col-xl-10 col-lg-9">
                                    <ul class="pl-3">
                                        <li>본 사업장은 관리형 토지신탁 구조로 필수 사업비 전액이 확보되어 안정성이 높으며, 우수한 사업성을 바탕으로 준공 이후 성공적인 사업 종료가 예상 됩니다.</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-lg-3">
                    <a href="@Url.Action("PropertyEdit","InvestmentProductManagement")" class="btn btn-block btn-primary btn-wide">수정</a>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <a href="#!" class="btn btn-block btn-secondary btn-wide">삭제</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>
    $('#fileInput1').change(function () {
        var curElement = $('#propertyImage1');
        var reader = new FileReader();

        reader.onload = function (e) {
            curElement.attr('src', e.target.result);
        };

        reader.readAsDataURL(this.files[0]);
    });
    $('#fileInput2').change(function () {
        var curElement = $('#propertyImage2');
        var reader = new FileReader();

        reader.onload = function (e) {
            curElement.attr('src', e.target.result);
        };

        reader.readAsDataURL(this.files[0]);
    });
</script>
