﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Coin Deposit And Withdrawal";
}

<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">코인입출금</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">회원관리</a></li>
                    <li class="breadcrumb-item active" aria-current="page">코인입출금</li>
                </ol>
            </nav>
        </div>


        <div class="p-5">
            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">어드민 지갑</div>
            </div>

            <div class="row align-items-center mb-3">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 fw-bold">거래소 총 보유량</div>
                        <div class="col-xl-10 col-lg-9"><span>32,541,055 </span></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">어드민 충전</div>
            </div>

            <div class="row align-items-end justify-content-between mb-4">
                <div class="col-xl-10 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>출금유저 지갑주소</label>
                                <input type="text" class="form-control form-control-sm" placeholder="출금할 유저 지갑주소 입력(옵션)">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>어드민 지갑주소</label>
                                <input type="text" class="form-control form-control-sm" placeholder="충전할 어드민 지갑주소 입력">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>충전금액</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4">
                    <a href="#!" class="btn btn-primary btn-block">충 전</a>
                </div>
            </div>

            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">유저지갑 충전</div>
            </div>

            <div class="row align-items-end justify-content-between">
                <div class="col-xl-10 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>출금어드민 지갑주소</label>
                                <input type="text" class="form-control form-control-sm" placeholder="출금할 어드민 지갑주소 입력">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>충전유저 지갑주소</label>
                                <input type="text" class="form-control form-control-sm" placeholder="충전할 유저 지갑주소 입력">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>충전금액</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4">
                    <a href="#!" class="btn btn-primary btn-block">충 전</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


