﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Coin Staking";
}
<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">코인 스테이킹</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">회원관리</a></li>
                    <li class="breadcrumb-item active" aria-current="page">코인스테이킹</li>
                </ol>
            </nav>
        </div>


        <div class="top-filters">
            <div class="row align-items-end justify-content-between">
                <div class="col-xl-10 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>검색어</label>
                                <input type="text" class="form-control form-control-sm" placeholder="회원번호/회원아이디/지갑주소">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>스테이킹량</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>스테이킹 날짜</label>
                                <input type="text" class="form-control form-control-sm" name="daterange">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4">
                    <a href="#!" class="btn btn-primary btn-block">검 색</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 mb-3">
                <div class="table-responsive">
                    <table id="coinStakingTable" class="table text-black w-100">
                        <thead>
                            <tr>
                                <th>회원번호</th>
                                <th>회원 아이디</th>
                                <th>스테이킹 량</th>
                                <th>TXID</th>
                                <th>스테이킹날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>goldtester@goldenblodck.com</td>
                                <td>200</td>
                                <td>4881233sdkqq20394949fjlsdkfjd3i3488488</td>
                                <td>21-07-22 13:20</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>

    $(document).ready(function () {

        var table = $('#coinStakingTable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 2,
            }
        });


        $('input[name="daterange"]').daterangepicker({
            "showDropdowns": true,
            "startDate": "07/30/2021",
            "endDate": "08/05/2021"
        });

    });
</script>
