﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Upload Property";
}

<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">
        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">상품별 상세조회 등록</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">투자상품관리</a></li>
                    <li class="breadcrumb-item"><a href="#">상품조회</a></li>
                    <li class="breadcrumb-item active" aria-current="page">상품상세등록</li>
                </ol>
            </nav>
        </div>


        <form class="p-5">
            <div class="row align-items-center">

                <div class="col-12">
                    <div class="form-group">
                        <label>제목</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>공사 기간</label>
                        <select class="form-control form-control-sm">
                           
                        </select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>연수익률</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>총 모집금액</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>투자금액</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>투자기간</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">개월</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>예상수익</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">원</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between align-items-end">
                <div class="col-xl-3 col-lg-4">
                    <div class="form-group">
                        <label>예상수익</label><br>
                        <div class="image-upload">
                            <img class="w-100" id="propertyImage1" src="~/assets/images/media/avatar-upload.png">
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 text-right">
                    <button class="file-upload btn btn-primary">
                        <input type="file" class="file-input" id="fileInput1">사진등록
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>투자자 보호장치</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>투자상품 상세내용</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>사업장 주소</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>사업명</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>사업규모</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>자금용도</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>LTV</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>상환순위</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">순위</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>공정률</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>기준일</label>
                                <select class="form-control form-control-sm">
                                    <option>날짜설정</option>
                                    <option>날짜설정</option>
                                    <option>날짜설정</option>
                                    <option>날짜설정</option>
                                    <option>날짜설정</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between align-items-end">
                <div class="col-xl-3 col-lg-4">
                    <div class="form-group">
                        <label>예상수익</label><br>
                        <div class="image-upload">
                            <img class="w-100" id="propertyImage2" src="~/assets/images/media/avatar-upload.png">
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 text-right">
                    <button class="file-upload btn btn-primary">
                        <input type="file" class="file-input" id="fileInput2">사진등록
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>담보가치</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>선순위 대출금</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>어니스트펀드 대출금</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>기타금액</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>담보가치 잔여금액</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">억원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>리스크 분석</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>상환시나리오</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>주요리스크</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>상세분석</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>자주 묻는 질문</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>질문</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>답변</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-3">
                    <label>투자시 유의사항</label>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>질문</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>답변</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-lg-3">
                    <a href="" class="btn btn-block btn-primary btn-wide">확인</a>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <a href="" class="btn btn-block btn-secondary btn-wide">취소</a>
                </div>
            </div>
        </form>
    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>
    $('#fileInput1').change(function () {
        var curElement = $('#propertyImage1');
        var reader = new FileReader();

        reader.onload = function (e) {
            curElement.attr('src', e.target.result);
        };

        reader.readAsDataURL(this.files[0]);
    });
    $('#fileInput2').change(function () {
        var curElement = $('#propertyImage2');
        var reader = new FileReader();

        reader.onload = function (e) {
            curElement.attr('src', e.target.result);
        };

        reader.readAsDataURL(this.files[0]);
    });
</script>
