﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using GoldenblockAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "User Info";
}


<!-- Main Content -->
<main>

    <div class="content container-fluid text-black">

        <div class="page-header">
            <h5 class="fw-extrabold text-black mb-0">회원정보 상세</h5>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">골든블락</a></li>
                    <li class="breadcrumb-item"><a href="#">회원관리</a></li>
                    <li class="breadcrumb-item"><a href="#">회원정보</a></li>
                    <li class="breadcrumb-item active" aria-current="page">회원정보상세</li>
                </ol>
            </nav>
        </div>

        <div class="top-filters">
            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">회원정보</div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fw-bold">회원번호</label><br>
                        <span>1423</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fw-bold">아이디</label><br>
                        <span>goldtester@goldenblodck.com</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fw-bold">가입일</label><br>
                        <span>2021-07-23</span>
                    </div>
                </div>
            </div>

            <div class="row align-items-end mb-3">
                <div class="col-auto">
                    <div class="form-group">
                        <label class="fw-bold">구분</label>
                        <div class="input-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="userType1" name="usertypes" class="custom-control-input">
                                <label class="custom-control-label" for="userType1">가입</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="userType2" name="usertypes" class="custom-control-input">
                                <label class="custom-control-label" for="userType2">블락</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="userType3" name="usertypes" class="custom-control-input">
                                <label class="custom-control-label" for="userType3">탈퇴</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-group">
                        <a href="#!" class="btn btn-primary">수 정</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="fw-bold">코인지갑 주소</label><br>
                        <span>3sdkqq20394949fjlsdkfjd3i3488488kfjd3i3488</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-4">
            <div class="row justify-content-between page-subtitle fw-bold">
                <div class="col-auto">투자리스트</div>
            </div>


            <div class="row">
                <div class="col-12 mb-3">
                    <div class="table-responsive">
                        <table id="userInfoTable" class="table text-black w-100">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>제목</th>
                                    <th>투자금액(만원)</th>
                                    <th>투자기간(개월)</th>
                                    <th>투자시작일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>서울 신림 초 역세권 주상복합 신축건물</td>
                                    <td>400</td>
                                    <td>10</td>
                                    <td>21-07-22 13:20</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<!-- Menu Backdrop -->
<div class="backdrop d-none"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>


<script>

    $(document).ready(function () {

        var table = $('#userInfoTable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {

                leftColumns: 2,
            }
        });


        $('input[name="daterange"]').daterangepicker({
            "showDropdowns": true,
            "startDate": "07/30/2021",
            "endDate": "08/05/2021"
        });

    });
</script>
