﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using System.Web.Optimization;
@using GoldenblockAdmin.Infrastructure;

@{
    /**/

    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!DOCTYPE html>
<html>
<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>@ViewBag.Title | Gloden Block</title>

    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2f1e1c">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/vendors/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/assets/vendors/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.css" />



    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/main.min.css">


</head>
<body class="aside-show">

    <!-- Page Loader -->
    <!--<div class="page-loader-wrapper">
        <div class="loader">
            <h3 class="text-white">Please wait...</h3>
        </div>
    </div>-->

    <!-- Header -->
    <header>
        <div class="container-fluid position-relative">
            <div class="navbar pl-0">
                <button class="btn btn-hover-secondary btn-icon toggle-sidebar invisible" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>

                <ul class="nav">
                    <li class="nav-item">
                        <a href="" class="nav-link text-white fw-extrabold">관리자(admin)</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white fw-extrabold">로그아웃</a>
                    </li>
                </ul>
            </div>

            <div class="lines">
                <span class="bg-danger"></span>
                <span class="bg-primary"></span>
            </div>
        </div>

    </header>

    <div id="wrapper">
        <div id="left-sidebar" class="sidebar">
            <div class="sidebar-scroll">
                <!-- Left menu -->
                <div class="navbar-vertical">
                        @Html.Partial("_LeftMenu")
                </div>
            </div>
        </div>
        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- Javascript -->
    @RenderSection("dashboardscripts", required: false)
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/assets/bundles/mainscripts.bundle.js"></script>
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>

        $(document).ready(function () {
            setSelectedMenu();
        });

        $(function () {
            $('input.singledatepicker').daterangepicker({
                "singleDatePicker": true,
                autoUpdateInput: false,
                "showDropdowns": true,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('input.singledatepicker').attr("placeholder", "mm/dd/yyyy");
            $('input.singledatepicker').on('apply.daterangepicker', function (ev, picker) {
                debugger;
                $(this).val(picker.startDate.format('MM/DD/YYYY'));
                $('input.singledatepicker').trigger('keyup');
            });
        });

        //Input time picker 24 ht to convert 12 hr
        function onTimeChange(timeVal) {
            var timeSplit = timeVal.split(':'),
                hours,
                minutes,
                meridian;
            hours = timeSplit[0];
            minutes = timeSplit[1];
            if (hours > 12) {
                meridian = 'PM';
                hours -= 12;
            } else if (hours < 12) {
                meridian = 'AM';
                if (hours == 0) {
                    hours = 12;
                }
            } else {
                meridian = 'PM';
            }
            return hours + ':' + minutes + ' ' + meridian;
        }
        debugger;
        function setSelectedMenu() {
            $(".navbar-vertical-nav list-unstyled").find("li.active").each(function () {
                $(this).removeClass("active");
            });
            if ("@curController" == "InvestmentProductManagement" && "@curAction" == "ProductInquiry") {
                $('#investmentPropertyli').addClass('active');
                $('#productInquiry').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "InvestmentProductManagement" && "@curAction" == "InvestmentAttractionList") {
                $('#investmentPropertyli').addClass('active');
                $('#investmentAttractionList').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "MemberManagement" && "@curAction" == "UserProfile") {
                $('#userManagementli').addClass('active');
                $('#userProfile').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "MemberManagement" && "@curAction" == "CoinDepositAndWithdrawal") {
                $('#userManagementli').addClass('active');
                $('#coinDepositAndWithdrawal').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "MemberManagement" && "@curAction" == "CoinTransactionHistory") {
                $('#userManagementli').addClass('active');
                $('#coinTransactionHistory').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "MemberManagement" && "@curAction" == "CoinStaking") {
                $('#userManagementli').addClass('active');
                $('#coinStaking').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "NoticeManagement" && "@curAction" == "Notice") {
                $('#publicNotificationli').addClass('active');
                $('#notice').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "NoticeManagement" && "@curAction" == "Terms") {
                $('#publicNotificationli').addClass('active');
                $('#terms').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
            else if ("@curController" == "NoticeManagement" && "@curAction" == "Event") {
                $('#publicNotificationli').addClass('active');
                $('#event').addClass('active');
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }
        }
        @*else if ("@curController" == "MasterData" && "@curAction" == "MasterProductCategory") {
                setActiveLink($('#MasterData').attr('id'));
                setActiveLink($('#ProductCategory').attr('id'));
                $('.active ul').attr('aria-expanded', true);
                $('.active ul').addClass('in');
                $('.active ul').css('height', 'inherit');
            }*@
        debugger;
        function setActiveLink(menuId) {
            $(".navbar-vertical-item").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };

        function setSubActiveLink(menuId) {
            $(".navbar-vertical-item").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };
    </script>
    @RenderSection("scripts", required: false)
    @Html.Raw(ViewBag.openPopup)
</body>
</html>
