﻿@using Goldenblock.Common;
@using GoldenblockAdmin.Pages;
@using System.Web.Optimization;

<aside>
    <div class="navbar-vertical">
        <div class="navbar-brand-wrapper text-center">
            <a href="" class="navbar-brand fw-bold text-dark">
                골든블락
            </a>
        </div>

        <div class="navbar-vertical-content" data-simplebar>
            <ul class="navbar-vertical-nav list-unstyled">

                <li class="navbar-vertical-item">
                    <a href="#investmentProperty" id="investmentPropertyli" data-toggle="collapse" role="button" class="navbar-vertical-link has-child">
                        <div class="navbar-vertical-icon">
                            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.0625 31.9375V0.0625H31.9375V31.9375H0.0625Z" stroke="currentColor" stroke-width="0.125" />
                                <path d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                                <path d="M3.8736 26.9988C5.10305 24.8708 6.87086 23.1037 8.99945 21.8752C11.128 20.6467 13.5424 20 16.0001 20C18.4578 20 20.8722 20.6468 23.0007 21.8754C25.1293 23.1039 26.8971 24.871 28.1265 26.9991" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        투자상품관리
                    </a>

                    <div class="collapse show" id="investmentProperty">

                        <ul class="list-unstyled">
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("ProductInquiry","InvestmentProductManagement")"  id="productInquiry" class="navbar-vertical-link">상품조회</a>
                            </li>
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("InvestmentAttractionList","InvestmentProductManagement")" id="investmentAttractionList"  class="navbar-vertical-link activeOngingInvestment">투자유치리스트</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="navbar-vertical-item">
                    <a href="#userManagement" id="userManagementli" data-toggle="collapse" role="button" class="navbar-vertical-link activeUserManagement collapsed has-child">
                        <div class="navbar-vertical-icon">
                            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 19H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12 15H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        회원관리
                    </a>

                    <div class="collapse showUsersMenu" id="userManagement">

                        <ul class="list-unstyled">
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("UserProfile","MemberManagement")" id="userProfile"  class="navbar-vertical-link activeUsersInfo">회원정보</a>
                            </li>
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("CoinDepositAndWithdrawal","MemberManagement")" id="coinDepositAndWithdrawal"  class="navbar-vertical-link activeDepositWithdrawal">코인입출금</a>
                            </li>
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("CoinTransactionHistory","MemberManagement")" id="coinTransactionHistory"  class="navbar-vertical-link activeTransectionHistory">코인거래 내역</a>
                            </li>
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("CoinStaking","MemberManagement")" id="coinStaking"  class="navbar-vertical-link activeCoinStaking">코인 스테이킹</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="navbar-vertical-item">
                    <a href="#publicNotification" id="publicNotificationli" data-toggle="collapse" role="button" class="navbar-vertical-link activeNoticeMgt collapsed has-child">
                        <div class="navbar-vertical-icon">
                            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.99927 6.33334V23.6667C3.99927 23.8219 4.03541 23.975 4.10484 24.1139C4.17427 24.2527 4.27507 24.3735 4.39927 24.4667C4.52346 24.5598 4.66764 24.6228 4.82038 24.6505C4.97312 24.6783 5.13023 24.6701 5.27927 24.6267L27.2793 18.21C27.487 18.1494 27.6694 18.0231 27.7993 17.85C27.9291 17.6769 27.9993 17.4664 27.9993 17.25V12.75C27.9993 12.5336 27.9291 12.3231 27.7993 12.15C27.6694 11.9769 27.487 11.8506 27.2793 11.79L5.27927 5.37334C5.13023 5.32987 4.97312 5.32169 4.82038 5.34947C4.66764 5.37724 4.52346 5.44019 4.39927 5.53334C4.27507 5.62648 4.17427 5.74727 4.10484 5.88612C4.03541 6.02498 3.99927 6.17809 3.99927 6.33334V6.33334Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M23 19.4581V24C23 24.2652 22.8946 24.5196 22.7071 24.7071C22.5196 24.8946 22.2652 25 22 25H18C17.7348 25 17.4804 24.8946 17.2929 24.7071C17.1054 24.5196 17 24.2652 17 24V8.79188" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        공지사항 관리
                    </a>

                    <div class="collapse showNoticeMgt" id="publicNotification">

                        <ul class="list-unstyled">
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("Notice","NoticeManagement")" id="notice"  class="navbar-vertical-link activeNotice">공지사항</a>
                            </li>
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("Terms","NoticeManagement")" id="terms"  class="navbar-vertical-link activeTerms">약관</a>
                            </li>
                            <li class="navbar-vertical-item">
                                <a href="@Url.Action("Event","NoticeManagement")" id="event"  class="navbar-vertical-link activeEvent">이벤트</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        </div>


</aside>


