﻿@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<main class="app-content">
    <div class="app-content-wrapper">
        <div class="app-content-title">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column breadcrumb mb-0 pl-0 flex-sm-row align-items-sm-center">
                            <h6 class="mb-0 pb-3 pb-sm-0  order-2 order-sm-1 mr-auto">Golden Block</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>