﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Signin | Gloden Block</title>

    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2f1e1c">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/vendors/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/assets/vendors/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.css" />



    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/main.min.css">


</head>

<body>

    <div class="d-flex align-items-center min-vh-100">
        <form class="form-signin">

            <h1 class="h3 mb-4 font-weight-normal">please log in</h1>


            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control control-dark border" placeholder="e-mail" required autofocus>


            <label for="inputPassword" class="sr-only">password</label>
            <input type="password" id="password" class="form-control control-dark border" placeholder="password" required>

            <a href="javascript:;" class="btn btn-lg btn-primary btn-block mt-5" onclick="login();">Log in</a>

            <div class="d-flex mt-3 justify-content-between">
                <a href="@Url.Action("SignUp","Authentication")">회원가입</a>
                <a href="@Url.Action("ResetPassword","Authentication")">비밀번호 찾기</a>
            </div>
        </form>
    </div>


    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
    <script src="~/assets/vendors/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/fc-3.3.3/datatables.min.js"></script>


    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>

    <script>
        function login() {
              $.ajax({
                            url: '@Url.Action("AdminLogin", "Authentication")',
                            data: { email: $("#email").val(), password: $("#password").val() },
                            type: "POST",
                            dataType: "json",
                            success: function (result) {
                                if (result.Code == 200) {
                                    alert(result.Message);
                                    window.location.href = '@Url.Action("ProductInquiry", "InvestmentProductManagement")';
                                } else {
                                    alert(result.Message);
                                }
                            },
                  error: function (result) {
                      alert("Something was wrong!!");
                            }
                        });
        }
    </script>
</body>

</html>
